<section class="edit-profile col-lg-12 col-md-12">
  <aside class="profile col-lg-4 col-md-4">

  </aside>
  <main class='col-lg-8 col-md-8'>
    <form class="" ng-submit="editProfile(profile)">
       <div class="form-group">
         <label for="">First Name</label>
         <input type="text" class="form-control" id="" ng-model="profile.firstName" placeholder="">
       </div>
       <div class="form-group">
         <label for="">Last Name</label>
         <input type="text" class="form-control" id="" ng-model="profile.lastName" placeholder="">
       </div>

       <div class="form-group">
         <label for="">Address One</label>
         <input type="text" class="form-control" id="" ng-model="profile.addressOne" placeholder="">
       </div>

       <div class="form-group">
         <label for="">Address Two</label>
         <input type="text" class="form-control" id="" ng-model="profile.addressTwo" placeholder="">
       </div>

       <div class="form-group">
         <label for="">Address Three</label>
         <input type="text" class="form-control" id="" ng-model="profile.addressThree" placeholder="">
       </div>

       <div class="form-group">
         <label for="">City</label>
         <input type="text" class="form-control" id="" ng-model="profile.city" placeholder="">
       </div>

       <div class="form-group">
         <label for="">State</label>
         <input type="text" class="form-control" id="" ng-model="profile.state" placeholder="">
       </div>

       <div class="form-group">
         <label for="">Zip</label>
         <input type="text" class="form-control" id="" ng-model="profile.zip" placeholder="">
       </div>

       <div class="form-group">
         <label for="">Country</label>
         <input type="text" class="form-control" id="" ng-model="profile.country" placeholder="">
       </div>

       <button class='btn btn-lg btn-primary' type="submit" name="button">Submit</button>

    </form>
  </main>
</section>
